#disclaimer,
.answer,
header {
    text-align: center
}

.question-title,
footer div,
header {
    text-transform: uppercase
}

@font-face {
    font-family: Gotham-Bold;
    src: url(https://frontend-assets.dnc.org/fonts/Gotham-Bold.eot);
    src: url(https://frontend-assets.dnc.org/fonts/Gotham-Bold.otf) format("otf"), url(https://frontend-assets.dnc.org/fonts/Gotham-Bold.svg) format("svg"), url(https://frontend-assets.dnc.org/fonts/Gotham-Bold.ttf) format("ttf"), url(https://frontend-assets.dnc.org/fonts/Gotham-Bold.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: GothamBook;
    src: url(https://frontend-assets.dnc.org/fonts/GothamBook.eot);
    src: url(https://frontend-assets.dnc.org/fonts/GothamRounded-Book.otf) format("otf"), url(https://frontend-assets.dnc.org/fonts/GothamBook.ttf) format("ttf"), url(https://frontend-assets.dnc.org/fonts/GothamBook.svg) format("svg"), url(https://frontend-assets.dnc.org/fonts/GothamBook.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body,
html {
    font-family: GothamBook, Lato, sans-serif;
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Gotham A, Gotham B, sans-serif
}

#disclaimer {
    color: #fff;
    bottom: 0;
    right: 0;
    width: 95%;
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 5%;
    margin-left: 2.5%
}

#disclaimer small {
    border: 1px solid #b3b3b3;
    display: block;
    padding: 1%;
    box-sizing: inherit
}

.form-underlined input {
    border: 0;
    display: block;
    float: left;
    margin-top: 3%;
    font-style: italic;
    border-bottom: 2px solid red;
    padding-top: 1%;
    padding-bottom: 1%
}

.form-underlined input[type=email] {
    width: 100%;
    max-width: 100%
}

.form-underlined input[type=submit] {
    background: #000;
    color: #fff;
    margin-top: 3%;
    text-transform: uppercase;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    z-index: 2;
    float: left;
    padding: 1% 5%
}

.form-underlined input[type=submit]:hover {
    color: red;
    background: #fff
}

@media only screen and (min-width:880px) {
    .form-underlined input[type=zip] {
        display: inline-block;
        float: left;
        width: 60%;
        max-width: 60%;
        margin-right: 5%
    }
    .form-underlined input[type=submit] {
        width: 35%;
        max-width: 35%;
        border: 1px solid #fff
    }
    .form-no-underline input {
        background: #fff;
        border: 1px solid #b3b3b3;
        border-radius: 0;
        color: #575757;
        display: inline-block;
        font-size: .95em;
        font-weight: 700;
        margin-top: 1%;
        margin-bottom: .5%
    }
    .form-no-underline input[type=submit] {
        background: #fff;
        border: 1px solid red;
        color: red;
        display: inline-block;
        text-transform: uppercase;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        width: 17%;
        z-index: 2
    }
    .form-no-underline #lastname {
        width: 47.5%;
        margin-left: 2.5%
    }
    .form-no-underline #email,
    .form-no-underline #firstname {
        width: 47.5%
    }
    .form-no-underline #zip {
        width: 30%;
        margin-left: 2.5%
    }
}

@media only screen and (max-width:879px) {
    .form-underlined input[type=zip] {
        width: 100%;
        max-width: 100%
    }
    .form-underlined input[type=submit] {
        width: 100%;
        border: 3px solid #fff
    }
    .form-no-underline input {
        background: #fff;
        border: 1px solid #b3b3b3;
        border-radius: 0;
        color: #575757;
        display: inline-block;
        font-size: .95em;
        font-weight: 700;
        margin-top: 1%;
        margin-bottom: 1%
    }
    .form-no-underline input[type=submit] {
        background: #fff;
        border: 1px solid red;
        color: red;
        display: inline-block;
        text-transform: uppercase;
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        width: 98.5%;
        z-index: 2
    }
    .form-no-underline .input-group {
        margin-left: .5%;
        width: 95%;
        position: relative;
        margin-bottom: 1%
    }
    .form-no-underline #email,
    .form-no-underline #firstname {
        width: 47.5%
    }
    .form-no-underline #lastname,
    .form-no-underline #zip {
        width: 47.5%;
        margin-left: 2.5%
    }
}

.pure-g [class*=pure-u],
button,
html,
input,
select,
textarea {
    font-family: GothamBook, Lato, sans-serif;
    color: #666
}

header {
    padding: 1em;
    margin-bottom: 1em;
    background-color: #e31818;
    color: #fff
}

.topper {
    font-size: 1.25em;
    margin: 1.5em;
    line-height: 1.5em
}

.fa,
i {
    line-height: 2em
}

article {
    width: 50%;
    margin: auto
}

.question-title {
    font-family: Gotham-Bold, sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: #e31818
}

.question-question {
    color: #000;
    font-size: 1.5em
}

input[type=radio] {
    display: none
}

input[type=radio]+label {
    border: 1px solid #e31818;
    font-family: Gotham-Bold, sans-serif;
    color: #000;
    height: 10em;
    width: 10em;
    display: inline-block;
    padding: 1em;
    margin: 1em
}

input[type=radio]+label.true {
    background: url(../img/TrueTrump.png) center/10em 10em no-repeat
}

input[type=radio]+label.false {
    background: url(../img/FalseTrump.png) center/10em 10em no-repeat
}

input[type=radio]+label.true:hover {
    color: #fff;
    background: url(../img/TrueTrumpRed.png) center/10em 10em no-repeat
}

input[type=radio]+label.false:hover {
    color: #fff;
    background: url(../img/FalseTrumpRed.png) center/10em 10em no-repeat
}

input[type=radio]:checked+label.true,
input[type=radio]:checked+label.true:hover {
    color: #fff;
    background: url(../img/TrueTrumpRed.png) center center/10em 10em no-repeat no-repeat
}

input[type=radio]:checked+label.false,
input[type=radio]:checked+label.false:hover {
    color: #fff;
    background: url(../img/FalseTrumpRed.png) center center/10em 10em no-repeat no-repeat
}

input[type=radio]:disabled+label.true,
input[type=radio]:disabled+label.true:hover {
    background: url(../img/TrueTrumpDisabled.png) center center/10em 10em no-repeat no-repeat
}

input[type=radio]:disabled+label.false,
input[type=radio]:disabled+label.false:hover {
    background: url(../img/FalseTrumpDisabled.png) center center/10em 10em no-repeat no-repeat
}

footer,
i,
i:hover {
    background-color: #e31818
}

ul {
    padding: 0
}

.question {
    width: 90%;
    margin: auto
}

.answer {
    font-size: 1.5em
}

.result {
    font-size: 2em;
    display: block;
    border: 3px solid #e31818;
    margin: .5em;
    padding: .5em
}

.social-share,
i {
    display: inline-block;
    text-align: center
}

.social-share {
    width: 100%;
    margin-top: 1em
}

.social-share a {
    text-decoration: none
}

.social-share i {
    font-size: 1.5em
}

footer {
    padding: 20px;
    text-align: center
}

footer div {
    width: 70%;
    margin: auto;
    padding: 10px;
    color: #fff;
    font-size: .75em
}

footer div.paidfor {
    border: 1px solid #fff
}

i {
    border-radius: 2em;
    color: #fff;
    height: 2em;
    width: 2em
}

.fa-twitter,
.social-share .fa-twitter {
    margin-left: 1em
}

i:hover {
    transition: all .7s ease;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    color: #000
}

@media only screen and (max-width:1100px) {
    article {
        width: 70%
    }
}

@media only screen and (max-width:800px) {
    article {
        width: 90%
    }
}

@media only screen and (max-width:600px) {
    article {
        width: 100%
    }
}

@media only screen and (max-width:560px) {
    li.pure-u-1-2 {
        width: 100%
    }
}