

@font-face {
    font-family: Gotham-Bold;
    src: url(https://frontend-assets.dnc.org/fonts/Gotham-Bold.eot);
    src: url(https://frontend-assets.dnc.org/fonts/Gotham-Bold.otf) format("otf"), url(https://frontend-assets.dnc.org/fonts/Gotham-Bold.svg) format("svg"), url(https://frontend-assets.dnc.org/fonts/Gotham-Bold.ttf) format("ttf"), url(https://frontend-assets.dnc.org/fonts/Gotham-Bold.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: GothamBook;
    src: url(https://frontend-assets.dnc.org/fonts/GothamBook.eot);
    src: url(https://frontend-assets.dnc.org/fonts/GothamRounded-Book.otf) format("otf"), url(https://frontend-assets.dnc.org/fonts/GothamBook.ttf) format("ttf"), url(https://frontend-assets.dnc.org/fonts/GothamBook.svg) format("svg"), url(https://frontend-assets.dnc.org/fonts/GothamBook.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

body {
background: url(../img/body-image.png);
background-repeat: repeat;
}

body,
html {
    font-family: GothamBook, Lato, sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Gotham A, Gotham B, sans-serif
}

header {
    
    
    /*background-color: #9c0002;*/
    /*color: #fff!important;*/
}



.container {
    background: url(../img/container-image.png);
    background-repeat: repeat;
    padding: 0 0;
}

header a {
    color: #fff!important;
    text-decoration: none;
    top: 50%;

}

.header {
    background: url(../img/header-background.jpg); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0 0;
    height: 19em;
    width: 100%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .header {
        height: 15em;
    }

}



h1 {
    font-family: Gotham-Bold, sans-serif;
    font-size: 3em;
    font-weight: 800;
    color: #fff;
    line-height: 1.5em;
}

h2 {
    font-family: Gotham-Bold, sans-serif;
    font-size: 1.3em;
    font-weight: 800;
    color: #e31818;
    line-height: 1.5em;
}


h3 {
    font-family: Gotham-Bold, sans-serif;
    font-size: 1.1em;
    font-weight: 520;
    line-height: 1.1em;
}



.center-block {float: none !important}


.intro {
    font-size: 1.5em;
    padding: 10px;
    
}

@media (max-width: 768px) {
    .intro {
        font-size: 1.2em;
        padding: 8px 5px;
    }

}


.section-content {
    color: #000;
    font-size: 1.2em;
}

.section-title{text-transform: uppercase;}

.picture-container{text-align: center;}

.picture {
    border: 2px solid #e31818;
    font-family: Gotham-Bold, sans-serif;
    color: #000;
    height: 18em;
    width: 17em;
    display: inline-block;
    padding: 1em;
    margin: 1em;

}

@media (max-width: 768px) {
    .picture {
        height: 10em;
        width: 10em;
    }

}

.officer-pic {
    border: 1px solid #e31818;
    font-family: Gotham-Bold, sans-serif;
    color: #000;
    height: 18em;
    width: 16em;
    display: inline-block;
    padding: 1em;
    margin: 1em;
}

.row .section {
    background-color: #d9d9d9;
    margin-top: 20px;
}

.last-section {
    background-color: #d9d9d9;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-content h2, p {padding: 0px 30px;}


.espinoza {
     background: 
     linear-gradient(
      rgba(255, 0, 0, 0.60), 
      rgba(255, 0, 0, 0.30)
    ),
    url(../img/espinoza.png);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;;

}

.espinoza1 {
    background: 
    linear-gradient(
      rgba(255, 255, 255, 0.60), 
      rgba(255, 255, 255, 0.60)
    ),

    url(../img/nora1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}

.espinoza2 {
    background: url(../img/nora2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}

.espinoza3 {
    background: url(../img/nora3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}

.espinoza4 {
    background: url(../img/nora5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}

.duran {
    background: url(../img/duran.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}

.children {
    background: url(../img/children.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -120px 0;
}

@media (max-width: 768px) {
    .children {
        background-position: -30px 0;
    }

}



.woman {
    background: url(../img/woman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -150px 0; 
}

@media (max-width: 768px) {
    .woman {
        background-position: -32px 0;
    }

}

.family {
    background: url(../img/family.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
}

@media (max-width: 768px) {
    .family {
        background-position: -50px 0;
    }

}

.officer {
    background: url(../img/officer.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30px 0;
    
}


footer {
    padding: 20px;
    text-align: center;
  
    background-color: #a12424;
    color: #fff
}

footer div {
    width: 30%;
    margin: auto;
    padding: 10px;
    color: #fff;
    font-size: .75em
}

@media (max-width: 768px) {
    footer div {
        width: 70%;
    }

}

footer div.paidfor {
    border: 1px solid #fff
}

@media (max-width: 768px) {
    .section-content p {
        {padding: 0px 5px;}
    }
}

#cross { 
  margin-top: 20px;
  background: red; 
  height: 200px; 
  position: relative; 
  left: 110px;
  width: 10px;
  -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg); 
} 
#cross:after { 
  background: red; 
  content: ""; 
  height: 10px; 
  left: -100px; 
  position: absolute; 
  top: 100px; 
  width: 200px; 
}

.x {
    background: url(../img/redx2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0; 
    height: 13em;
    width: 12em;
    margin: 20px auto;
}




