

@font-face {
    font-family: Gotham-Bold;
    src: url(https://frontend-assets.dnc.org/fonts/Gotham-Bold.eot);
    src: url(https://frontend-assets.dnc.org/fonts/Gotham-Bold.otf) format("otf"), url(https://frontend-assets.dnc.org/fonts/Gotham-Bold.svg) format("svg"), url(https://frontend-assets.dnc.org/fonts/Gotham-Bold.ttf) format("ttf"), url(https://frontend-assets.dnc.org/fonts/Gotham-Bold.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: GothamBook;
    src: url(https://frontend-assets.dnc.org/fonts/GothamBook.eot);
    src: url(https://frontend-assets.dnc.org/fonts/GothamRounded-Book.otf) format("otf"), url(https://frontend-assets.dnc.org/fonts/GothamBook.ttf) format("ttf"), url(https://frontend-assets.dnc.org/fonts/GothamBook.svg) format("svg"), url(https://frontend-assets.dnc.org/fonts/GothamBook.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

body {background-color:  #595959;}

body,
html {
    font-family: GothamBook, Lato, sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Gotham A, Gotham B, sans-serif
}

header {
    padding: 1em;
    margin-bottom: 1em;
    background-color: #e31818;
    color: #fff!important;
}


header a {
    color: #fff!important;
    text-decoration: none;
    top: 50%;

}

h1 {
    font-family: Gotham-Bold, sans-serif;
    font-size: 3em;
    font-weight: 800;
    color: #fff;
    line-height: 1.5em;
}

h2 {
    font-family: Gotham-Bold, sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    color: #e31818;
    line-height: 1.5em;
}

.center-block {float: none !important}


.intro {
    font-size: 1.5em;
    padding: 10px;
    
}


.section-content {
    color: #000;
    font-size: 1.2em;
}


.section-title{text-transform: uppercase;}

.picture-container{text-align: center;}

.picture {
    border: 1px solid #e31818;
    font-family: Gotham-Bold, sans-serif;
    color: #000;
    height: 18em;
    width: 17em;
    display: inline-block;
    padding: 1em;
    margin: 1em;

}

.officer-pic {
    border: 1px solid #e31818;
    font-family: Gotham-Bold, sans-serif;
    color: #000;
    height: 18em;
    width: 16em;
    display: inline-block;
    padding: 1em;
    margin: 1em;
}

.row .section {
    background-color: #d9d9d9;
    margin-top: 20px;
}

.last-section {
    background-color: #d9d9d9;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-content h2, p {padding: 0px 30px;}


.espinoza {
    background: url(../img/espinoza.png) center/17em 18em no-repeat
}

.duran {
    background: url(../img/duran.png) center/17em 18em no-repeat
}

.children {
    background: url(../img/children.jpg) center/17em 18em no-repeat
}

.woman {
    background: url(../img/woman.jpg) center/18em 18em no-repeat
}

.family {
    background: url(../img/family.jpg) center/17em 18em no-repeat
}

.officer {
    background: url(../img/officer.jpg); 
    background-repeat: no-repeat;
    background-size: 16em 19em;
    background-position: 20% 30%;
    
}


footer {
    padding: 20px;
    text-align: center
    background-color: #e31818;
    background-color: #e31818;
    color: #fff
}

footer div {
    width: 70%;
    margin: auto;
    padding: 10px;
    color: #fff;
    font-size: .75em
}

footer div.paidfor {
    border: 1px solid #fff
}




