

@font-face {
    font-family: Gotham-Bold;
    src: url(https://frontend-assets.dnc.org/fonts/Gotham-Bold.eot);
    src: url(https://frontend-assets.dnc.org/fonts/Gotham-Bold.otf) format("otf"), url(https://frontend-assets.dnc.org/fonts/Gotham-Bold.svg) format("svg"), url(https://frontend-assets.dnc.org/fonts/Gotham-Bold.ttf) format("ttf"), url(https://frontend-assets.dnc.org/fonts/Gotham-Bold.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: GothamBook;
    src: url(https://frontend-assets.dnc.org/fonts/GothamBook.eot);
    src: url(https://frontend-assets.dnc.org/fonts/GothamRounded-Book.otf) format("otf"), url(https://frontend-assets.dnc.org/fonts/GothamBook.ttf) format("ttf"), url(https://frontend-assets.dnc.org/fonts/GothamBook.svg) format("svg"), url(https://frontend-assets.dnc.org/fonts/GothamBook.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

body,
html {
    font-family: GothamBook, Lato, sans-serif;
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Gotham A, Gotham B, sans-serif
}

header {
    padding: 1em;
    margin-bottom: 1em;
    background-color: #e31818;
    color: #fff!important;
}

header a {
    color: #fff!important;
    text-decoration: none;
    top: 50%;

}


.center-block {float: none !important}


.row{margin-bottom: 10px;}

.intro {
    font-size: 1.25em;
    margin: 1.5em;
    line-height: 1.5em;
}

h1 {
    font-family: Gotham-Bold, sans-serif;
    font-size: 3em;
    font-weight: 800;
    color: #fff;
    line-height: 1.5em;
}

h2 {
    font-family: Gotham-Bold, sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: #e31818;
    line-height: 1.5em;


}

.section-content {
    color: #000;
    font-size: 1em;
}



.picture {
    border: 1px solid #e31818;
    font-family: Gotham-Bold, sans-serif;
    color: #000;
    height: 18em;
    width: 15em;
    display: inline-block;
    padding: 1em;
    margin: 1em;

}

#slide {
    font-family: Gotham-Bold, sans-serif;
    color: #000;
    height: 18em;
    width: 15em;
    padding: 1em;
    background:#de9a44;
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;


}


.espinoza {
    background: url(../img/espinoza.png) center/15em 18em no-repeat
}

.duran {
    background: url(../img/duran.png) center/15em 18em no-repeat
}


footer {
    padding: 20px;
    text-align: center
    background-color: #e31818;
    background-color: #e31818;
    color: #fff
}

footer div {
    width: 70%;
    margin: auto;
    padding: 10px;
    color: #fff;
    font-size: .75em
}

footer div.paidfor {
    border: 1px solid #fff
}

.slideout-menu {
        position: fixed;
        top: 20%;
        left: -250px;
        width: 250px;
        height: 100%;
        z-index: 100;
    }
.slideout-menu h3 {
    position: relative;
    padding: 12px 10px;
    color: #e31818;
    font-size: 1.2em;
    font-weight: 400;
    border-bottom: 4px solid #222;
}

.slideout-menu .slideout-menu-toggle {
    position: absolute;
    top: 12px;
    right: 10px;
    display: inline-block;
    padding: 6px 9px 5px;
    font-weight: bold;
    line-height: 1;
    background: #222;
    color: #999;
    text-decoration: none;
    vertical-align: top;
}
.slideout-menu-toggle:hover {
    color: #fff;
}
.slideout-menu ul {
    list-style: none;
    font-weight: 300;
}

.slideout-menu ul li {
    border-bottom: 1px solid #151515;
}
.slideout-menu ul li a {
    position: relative;
    display: block;
    padding: 10px;
    color: #999;
    text-decoration: none;
}

.slideout-menu ul li a i {
    position: absolute;
    top: 15px;
    right: 10px;
    opacity: .5;
}

.header {
    padding: 15px;
    background: #000;
}
.header .slideout-menu-toggle {
    font-size: 1.2em;
    color: #999;
    text-decoration: none;
}
.header .slideout-menu-toggle:hover {
    color: #fff;
}
.header .slideout-menu-toggle i {
    vertical-align: top;
    margin: 5px 3px 0 0;
}

#theBox_3, #theBox_2{
    display: none;
    border: 1px solid #000;
    width: 200px;
    height: 100px;
    background-color: #ddf;
}
