

body {
	font-family: "Lato"; 
	
}

section {
	width: 800px;
	height: 600px;
	background-color: white;
	position: absolute;
	left: 0;
	right: 0;
	top: 10px;
	bottom: 0;
	margin: auto;
	overflow: auto;
	text-align: center;
	box-shadow: 0 0 4px black;
	display: none; 

}

#header {
	text-align: center;
	padding-top: 40px;
	font-size: 1.8em;
	font-weight: bold;
}

#city {
	color: #FF0000;
	text-transform: uppercase;
}

#cta {
	text-align: center;
	font-weight: bold;
	font-size: 3em;
	margin-top: 26px;
}

#arrow {
	float: left;
	margin-top: -130px;
	margin-left: 40px;
}

#clock {
	margin-top: 90px;
}

#button {
	background-image: url("images/button.png");
	width: 550px;
	height: 119px;
	border-radius: 30px;
	margin-top: 40px;
}


.border-holder {
	height: 277px;
	width: 100%;
	background-color: #f0f0f0;
	margin-top: 0px;
	display: inline-block;

}

.contents {
    height: 50px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    top: 99px;
 
}


body {
	margin: 0;
	padding: 0;
}





